@import url("fonts/Roboto-Regular.tff");
@import url("Lato-Regular.tff");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.container .section-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #EADEDA;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style: none;
  padding-left: 2.4rem;
  text-transform: uppercase;
  font-size: 14px;
}
header nav ul li a {
  color: #2C423F;
  font-weight: bold;
}

main {
  background: #EADEDA;
  height: 100vh;
  padding: 2rem 3rem;
}

section {
  padding-top: 1rem;
}
section:nth-child(even) {
  background: #EADEDA;
}
section .grid-wrapper {
  display: grid;
  height: 100vh;
  align-items: center;
}
section .grid-wrapper.banner {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: minmax(0, 1fr);
}
section .grid-wrapper.banner .ilustration {
  justify-self: end;
  grid-column: 2/4;
  grid-row: 1;
  width: 31rem;
}
section .grid-wrapper.banner .ilustration img {
  width: 100%;
}
@media (max-width: 445px) {
  section .grid-wrapper.banner .ilustration {
    display: none;
  }
}
section .grid-wrapper.banner .left {
  grid-column: 1/3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}
section .grid-wrapper.banner .left h1 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #2C423F;
  margin-bottom: 1rem;
}
section .grid-wrapper.banner .left p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 1rem;
}
section .grid-wrapper.banner .left .button {
  margin-top: 2rem;
  background: #00BFA6;
  border-radius: 7px;
  width: 11rem;
  text-align: center;
  padding: 1rem 0.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 0.3s;
}
section .grid-wrapper.banner .left .button:hover {
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
}
@media (max-width: 445px) {
  section .grid-wrapper.banner .left {
    grid-column: 1/span 4;
    grid-row: 1;
  }
}
section .grid-wrapper.program {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  margin-bottom: 1rem;
}
section .grid-wrapper.program .card {
  border-radius: 5px;
  overflow: hidden;
  height: 450px;
  width: 350px;
  margin: 1rem 2rem;
  border: 1px solid #EADEDA;
  transition: all 0.5s ease 0s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
section .grid-wrapper.program .card h4 {
  font-family: "Lato", sans-serif;
}
section .grid-wrapper.program .card:hover {
  transform: translateY(-5px);
}
section .grid-wrapper.program .card img {
  width: 100%;
}
section .grid-wrapper.program .card .card-desc {
  padding: 0.5rem;
  text-align: center;
}
section .grid-wrapper.program .card .card-btn {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: -19px;
  margin-top: 1rem;
  align-items: center;
}
section .grid-wrapper.program .card .card-btn .btn {
  padding: 0.6rem;
  background-color: #00BFA6;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 445px) {
  section .grid-wrapper.program .card {
    height: 350px;
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
